<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle}">Job Portal</title>
    <link href="/css/output.css" rel="stylesheet">
</head>

<body>
    <header th:replace="fragments/header :: header"></header>

    <div>
        <h1>Znajdź pracę odpowiadającą Twoim zainteresowaniom i umiejętnościom.</h1>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
