<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle}">Job Portal</title>
    <link href="/css/output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <header th:replace="fragments/header :: header"></header>

    <div class="bg-mainGray">
        <div class="max-w-1320 mx-auto py-24 flex items-center gap-x-36">
            <div class="flex flex-col gap-8">
                <div class="flex flex-col gap-6">
                    <h1 class="text-5xl font-medium text-dark">Znajdź pracę odpowiadającą Twoim zainteresowaniom i umiejętnościom.</h1>
                    <p class="text-grayMedium text-lg font-normal">Aliquam vitae turpis in diam convallis finibus in at risus. Nullam in scelerisque leo, eget sollicitudin velit bestibulum.</p>
                </div>
                <div class="flex flex-col gap-6">
                    <div class="flex bg-white border border-borderColor rounded-lg justify-between py-3 px-3">
                        <div class="flex w-9/12 items-center">
                            <div class="flex items-center pl-4 gap-3">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M21 21L16.65 16.65" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <input type="text" placeholder="Stanowisko, fraza..." class="bg-transparent pr-4 text-base font-normal text-grayText">
                            </div>
                            <div class="flex items-center pl-4 border-l border-borderColor gap-3">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 10C21 17 12 23 12 23C12 23 3 17 3 10C3 7.61305 3.94821 5.32387 5.63604 3.63604C7.32387 1.94821 9.61305 1 12 1C14.3869 1 16.6761 1.94821 18.364 3.63604C20.0518 5.32387 21 7.61305 21 10Z" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <input type="text" placeholder="Lokalizacja" class="bg-transparent text-base font-normal text-grayText">
                            </div>
                        </div>
                        <button class="w-1/4 bg-mainBlue py-3 px-6 text-white text-base font-semibold rounded border-2 border-current">Oferty pracy</button>
                    </div>
                    <div>
                        <span class="text-grayText text-sm">Sugestia:</span>
                        <a href="#" class="text-sm text-lightBlack">Designer,</a>
                        <a href="#" class="text-sm text-lightBlack">Programowanie,</a>
                        <a href="#" class="text-sm text-mainBlue font-medium">Digital Marketing,</a>
                        <a href="#" class="text-sm text-lightBlack">Video,</a>
                        <a href="#" class="text-sm text-lightBlack">Animacje.</a>
                    </div>
                </div>
            </div>
            <img src="/images/hero-home.svg" alt="Working person">
        </div>
        <div class="max-w-1320 mx-auto flex items-center justify-center gap-6 pb-24">
            <div class="bg-white w-full py-5 px-5 rounded-lg drop-shadow-sm">
                <div class="flex items-center justify-start gap-5">
                    <div class="bg-grayBlue p-4 rounded">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_4112_12817)">
                                <path opacity="0.2" d="M20.0001 23.75C14.7341 23.7583 9.55961 22.3739 5.00128 19.7373V32.5C5.00128 32.6642 5.03361 32.8267 5.09643 32.9784C5.15925 33.1301 5.25132 33.2679 5.3674 33.3839C5.48347 33.5 5.62127 33.5921 5.77293 33.6549C5.92458 33.7177 6.08713 33.75 6.25128 33.75H33.7513C33.9154 33.75 34.078 33.7177 34.2296 33.6549C34.3813 33.5921 34.5191 33.5 34.6352 33.3839C34.7512 33.2679 34.8433 33.1301 34.9061 32.9784C34.969 32.8267 35.0013 32.6642 35.0013 32.5V19.7358C30.4424 22.3734 25.267 23.7583 20.0001 23.75Z" fill="#0A65CC"/>
                                <path d="M33.7513 11.25H6.25128C5.56093 11.25 5.00128 11.8096 5.00128 12.5V32.5C5.00128 33.1904 5.56093 33.75 6.25128 33.75H33.7513C34.4416 33.75 35.0013 33.1904 35.0013 32.5V12.5C35.0013 11.8096 34.4416 11.25 33.7513 11.25Z" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M26.25 11.25V8.75C26.25 8.08696 25.9866 7.45107 25.5178 6.98223C25.0489 6.51339 24.413 6.25 23.75 6.25H16.25C15.587 6.25 14.9511 6.51339 14.4822 6.98223C14.0134 7.45107 13.75 8.08696 13.75 8.75V11.25" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M35.0013 19.7358C30.4424 22.3734 25.2669 23.7583 20 23.75C14.734 23.7583 9.55941 22.3739 5.00104 19.7372" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M18.125 18.75H21.875" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_4112_12817">
                                    <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="flex flex-col gap-1.5">
                        <span class="text-dark text-2xl font-medium">1,75,324</span>
                        <span class="text-grayStrongText font-normal">Ofert pracy</span>
                    </div>
                </div>
            </div>
            <div class="bg-white w-full py-5 px-5 rounded-lg drop-shadow-sm">
                <div class="flex items-center justify-start gap-5">
                    <div class="bg-mainBlue p-4 rounded">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_4112_12829)">
                                <path opacity="0.2" d="M22.499 33.7473V6.24731C22.499 5.91579 22.3673 5.59785 22.1328 5.36343C21.8984 5.12901 21.5805 4.99731 21.249 4.99731H6.24896C5.91744 4.99731 5.5995 5.12901 5.36508 5.36343C5.13066 5.59785 4.99896 5.91579 4.99896 6.24731V33.7473" fill="white"/>
                                <path d="M2.5 33.7474H37.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M22.499 33.7473V6.24731C22.499 5.91579 22.3673 5.59785 22.1328 5.36343C21.8984 5.12901 21.5805 4.99731 21.249 4.99731H6.24896C5.91744 4.99731 5.5995 5.12901 5.36508 5.36343C5.13066 5.59785 4.99896 5.91579 4.99896 6.24731V33.7473" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M34.999 33.7473V16.2473C34.999 15.9158 34.8673 15.5979 34.6329 15.3634C34.3984 15.129 34.0805 14.9973 33.749 14.9973H22.499" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M9.99896 11.2473H14.999" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12.499 21.2474H17.499" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M9.99896 27.4974H14.999" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M27.499 27.4974H29.999" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M27.499 21.2474H29.999" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_4112_12829">
                                    <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="flex flex-col gap-1.5">
                        <span class="text-dark text-2xl font-medium">97,354</span>
                        <span class="text-grayStrongText font-normal">Firm</span>
                    </div>
                </div>
            </div>
            <div class="bg-white w-full py-5 px-5 rounded-lg drop-shadow-sm">
                <div class="flex items-center justify-start gap-5">
                    <div class="bg-grayBlue p-4 rounded">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_4112_12845)">
                                <path opacity="0.2" d="M13.7501 25C18.2374 25 21.8751 21.3623 21.8751 16.875C21.8751 12.3877 18.2374 8.75 13.7501 8.75C9.26281 8.75 5.62512 12.3877 5.62512 16.875C5.62512 21.3623 9.26281 25 13.7501 25Z" fill="#0A65CC"/>
                                <path d="M13.7501 25C18.2374 25 21.8751 21.3623 21.8751 16.875C21.8751 12.3877 18.2374 8.75 13.7501 8.75C9.26281 8.75 5.62512 12.3877 5.62512 16.875C5.62512 21.3623 9.26281 25 13.7501 25Z" stroke="#0A65CC" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M24.2833 9.05262C25.4009 8.73776 26.5729 8.66603 27.7205 8.84227C28.8681 9.01851 29.9646 9.43862 30.9361 10.0743C31.9077 10.71 32.7317 11.5465 33.3528 12.5275C33.9738 13.5085 34.3774 14.6112 34.5364 15.7613C34.6954 16.9114 34.6061 18.0822 34.2745 19.1949C33.9429 20.3075 33.3767 21.3362 32.614 22.2117C31.8514 23.0871 30.91 23.789 29.8533 24.2699C28.7965 24.7509 27.649 24.9998 26.488 25" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M2.49927 30.8432C3.76823 29.0382 5.45285 27.565 7.41091 26.548C9.36897 25.531 11.543 25.0001 13.7494 25C15.9558 24.9999 18.1299 25.5307 20.088 26.5476C22.0461 27.5644 23.7309 29.0375 25 30.8424" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M26.4879 25C28.6945 24.9984 30.8691 25.5285 32.8273 26.5455C34.7856 27.5625 36.4701 29.0364 37.738 30.8424" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_4112_12845">
                                    <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="flex flex-col gap-1.5">
                        <span class="text-dark text-2xl font-medium">38,47,154</span>
                        <span class="text-grayStrongText font-normal">Kandydatów</span>
                    </div>
                </div>
            </div>
            <div class="bg-white w-full py-5 px-5 rounded-lg drop-shadow-sm">
                <div class="flex items-center justify-start gap-5">
                    <div class="bg-grayBlue p-4 rounded">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_4112_12857)">
                                <path opacity="0.2" d="M20 23.75C14.7341 23.7583 9.55955 22.3739 5.00122 19.7373V32.5C5.00122 32.6642 5.03355 32.8267 5.09637 32.9784C5.15919 33.1301 5.25126 33.2679 5.36733 33.3839C5.48341 33.5 5.62121 33.5921 5.77286 33.6549C5.92452 33.7177 6.08707 33.75 6.25122 33.75H33.7512C33.9154 33.75 34.0779 33.7177 34.2296 33.6549C34.3812 33.5921 34.519 33.5 34.6351 33.3839C34.7512 33.2679 34.8433 33.1301 34.9061 32.9784C34.9689 32.8267 35.0012 32.6642 35.0012 32.5V19.7358C30.4423 22.3734 25.2669 23.7583 20 23.75Z" fill="#0A65CC"/>
                                <path d="M33.7512 11.25H6.25122C5.56086 11.25 5.00122 11.8096 5.00122 12.5V32.5C5.00122 33.1904 5.56086 33.75 6.25122 33.75H33.7512C34.4416 33.75 35.0012 33.1904 35.0012 32.5V12.5C35.0012 11.8096 34.4416 11.25 33.7512 11.25Z" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M26.25 11.25V8.75C26.25 8.08696 25.9866 7.45107 25.5178 6.98223C25.0489 6.51339 24.413 6.25 23.75 6.25H16.25C15.587 6.25 14.9511 6.51339 14.4822 6.98223C14.0134 7.45107 13.75 8.08696 13.75 8.75V11.25" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M35.0012 19.7358C30.4423 22.3734 25.2669 23.7583 20 23.75C14.7339 23.7583 9.55935 22.3739 5.00098 19.7372" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M18.125 18.75H21.875" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_4112_12857">
                                    <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="flex flex-col gap-1.5">
                        <span class="text-dark text-2xl font-medium">7,532</span>
                        <span class="text-grayStrongText font-normal">Nowych ofert</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shadow shadow-mainGray">
        <div class="max-w-1320 mx-auto flex flex-col py-24 gap-12">
            <h2 class="text-dark text-4xl font-medium">Najpopularniejsze oferty pracy</h2>
            <div class="grid grid-cols-4 gap-x-6 gap-y-8">
                <a href="#" class="flex flex-col gap-2">
                    <span class="text-lg text-dark font-medium">Anestezjolodzy</span>
                    <span class="text-sm text-grayStrongText font-normal">45 904 Dostępnych Stanowisk Pracy</span>
                </a>
                <a href="#" class="flex flex-col gap-2">
                    <span class="text-lg text-dark font-medium">Chirurdzy</span>
                    <span class="text-sm text-grayStrongText font-normal">50 364 Dostępnych Stanowisk Pracy</span>
                </a>
                <a href="#" class="flex flex-col gap-2">
                    <span class="text-lg text-dark font-medium">Położnicy-ginekolodzy</span>
                    <span class="text-sm text-grayStrongText font-normal">4 339 Dostępnych Stanowisk Pracy</span>
                </a>
                <a href="#" class="flex flex-col gap-2">
                    <span class="text-lg text-dark font-medium">Ortodonci</span>
                    <span class="text-sm text-grayStrongText font-normal">20 079 Dostępnych Stanowisk Pracy</span>
                </a>
                <a href="#" class="flex flex-col gap-2">
                    <span class="text-lg text-dark font-medium">Chirurdzy szczękowo-twarzowi</span>
                    <span class="text-sm text-grayStrongText font-normal">74 875 Dostępnych Stanowisk Pracy</span>
                </a>
                <a href="#" class="flex flex-col gap-2">
                    <span class="text-lg text-dark font-medium">Programista oprogramowania</span>
                    <span class="text-sm text-grayStrongText font-normal">43 359 Dostępnych Stanowisk Pracy</span>
                </a>
                <a href="#" class="flex flex-col gap-2">
                    <span class="text-lg text-dark font-medium">Psychiatrzy</span>
                    <span class="text-sm text-grayStrongText font-normal">18 599 Dostępnych Stanowisk Pracy</span>
                </a>
                <a href="#" class="flex flex-col gap-2">
                    <span class="text-lg text-dark font-medium">Analityk danych</span>
                    <span class="text-sm text-grayStrongText font-normal">28 200 Dostępnych Stanowisk Pracy</span>
                </a>
                <a href="#" class="flex flex-col gap-2">
                    <span class="text-lg text-dark font-medium">Menedżer finansowy</span>
                    <span class="text-sm text-grayStrongText font-normal">61 391 Dostępnych Stanowisk Pracy</span>
                </a>
                <a href="#" class="flex flex-col gap-2">
                    <span class="text-lg text-dark font-medium">Analiza zarządzania</span>
                    <span class="text-sm text-grayStrongText font-normal">93 046 Dostępnych Stanowisk Pracy</span>
                </a>
                <a href="#" class="flex flex-col gap-2">
                    <span class="text-lg text-dark font-medium">Menedżer IT</span>
                    <span class="text-sm text-grayStrongText font-normal">50 963 Dostępnych Stanowisk Pracy</span>
                </a>
                <a href="#" class="flex flex-col gap-2">
                    <span class="text-lg text-dark font-medium">Analiza badań operacyjnych</span>
                    <span class="text-sm text-grayStrongText font-normal">16,627 Dostępnych Stanowisk Pracy</span>
                </a>
            </div>
        </div>
    </div>

    <div class="bg-mainGray">
        <div class="max-w-1320 mx-auto flex flex-col items-center py-24 gap-12">
            <h2 class="text-dark text-4xl font-medium">Jak działa Jobportal</h2>
            <div class="grid grid-cols-4 gap-6 relative">
                <div class="flex flex-col items-center gap-6 py-6 px-6">
                    <div class="bg-white p-5 rounded-full">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1647_31987)">
                                <path opacity="0.2" d="M16 20C20.4183 20 24 16.4183 24 12C24 7.58172 20.4183 4 16 4C11.5817 4 8 7.58172 8 12C8 16.4183 11.5817 20 16 20Z" fill="#0A65CC"/>
                                <path d="M22 7H28" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M25 4V10" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M3.87366 26.9988C5.10311 24.8708 6.87092 23.1037 8.99951 21.8752C11.1281 20.6467 13.5425 20 16.0002 20C18.4578 20 20.8722 20.6468 23.0008 21.8754C25.1294 23.1039 26.8971 24.871 28.1265 26.9991" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M23.5063 14.7728C22.9716 16.2167 22.0313 17.4754 20.7985 18.3979C19.5657 19.3203 18.0928 19.8672 16.5568 19.9728C15.0207 20.0784 13.4868 19.7383 12.1394 18.9933C10.7919 18.2483 9.68822 17.1301 8.96088 15.773C8.23353 14.416 7.91346 12.8778 8.03913 11.3432C8.1648 9.80864 8.73086 8.34301 9.6693 7.12236C10.6077 5.90172 11.8787 4.97798 13.3294 4.46212C14.7801 3.94627 16.3489 3.86023 17.8473 4.21436" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_1647_31987">
                                    <rect width="32" height="32" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="flex flex-col items-center gap-3 text-center">
                        <span class="text-dark font-medium text-lg">Utwórz konto</span>
                        <span class="text-sm text-grayStrongText font-normal">Aliquam facilisis egestas sapien, nec tempor leo tristique at.</span>
                    </div>
                </div>
                <svg class="absolute top-0 left-[215px]" width="223" height="49" viewBox="0 0 223 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.4">
                        <path d="M0.999997 40.8082C0.999997 40.8082 43.9587 1.00001 108.877 1.00001C173.795 1.00001 216.754 40.8083 216.754 40.8083" stroke="#0A65CC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="12 8"/>
                        <path d="M215.551 28.6097L217.502 41.5912L204.555 43.4272" stroke="#0A65CC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                </svg>
                <div class="flex flex-col items-center gap-6 py-6 px-6 bg-white rounded-xl">
                    <div class="bg-mainBlue p-5 rounded-full">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1647_31999)">
                                <path opacity="0.2" d="M10 15.9981C10 14.0202 10.5865 12.0868 11.6853 10.4423C12.7841 8.79786 14.3459 7.51613 16.1732 6.75926C18.0005 6.00238 20.0111 5.80435 21.9509 6.1902C23.8907 6.57605 25.6726 7.52846 27.0711 8.92698C28.4696 10.3255 29.422 12.1073 29.8079 14.0471C30.1937 15.987 29.9957 17.9976 29.2388 19.8249C28.482 21.6521 27.2002 23.2139 25.5557 24.3127C23.9112 25.4116 21.9778 25.9981 20 25.9981H9.00003C8.00733 25.9971 7.02618 25.785 6.12172 25.3758C5.21725 24.9667 4.41016 24.3698 3.754 23.6249C3.09785 22.88 2.60764 22.004 2.31591 21.0551C2.02419 20.1063 1.93762 19.1062 2.06196 18.1213C2.1863 17.1364 2.51869 16.1892 3.03708 15.3426C3.55548 14.496 4.24801 13.7694 5.06871 13.2109C5.88942 12.6524 6.81952 12.2749 7.79729 12.1033C8.77506 11.9318 9.77814 11.9702 10.7399 12.216" fill="#F1F2F4"/>
                                <path d="M11.9993 25.998H8.9993C8.0066 25.9971 7.02545 25.785 6.12099 25.3758C5.21652 24.9667 4.40943 24.3698 3.75327 23.6249C3.09711 22.88 2.60691 22.004 2.31518 21.0551C2.02346 20.1063 1.93689 19.1062 2.06123 18.1213C2.18556 17.1364 2.51796 16.1892 3.03635 15.3426C3.55474 14.496 4.24727 13.7694 5.06798 13.2109C5.88868 12.6524 6.81879 12.2749 7.79656 12.1033C8.77433 11.9318 9.77741 11.9702 10.7392 12.216" stroke="#F1F2F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M9.99927 15.998C9.99942 14.4136 10.3761 12.8518 11.0982 11.4415C11.8203 10.0312 12.8672 8.81262 14.1527 7.88625C15.4381 6.95988 16.9253 6.35221 18.4916 6.11333C20.0579 5.87445 21.6586 6.01118 23.1618 6.51227C24.6649 7.01335 26.0275 7.86445 27.1372 8.99541C28.2468 10.1264 29.0719 11.5048 29.5444 13.0172C30.0168 14.5296 30.1231 16.1326 29.8546 17.6941C29.586 19.2557 28.9502 20.731 27.9996 21.9986" stroke="#F1F2F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M14.7566 20.2408L18.9992 15.998L23.2418 20.2408" stroke="#F1F2F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M18.9993 25.998V15.998" stroke="#F1F2F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_1647_31999">
                                    <rect width="32" height="32" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="flex flex-col items-center gap-3 text-center">
                        <span class="text-dark font-medium text-lg">Prześlij CV/List motywacyjny</span>
                        <span class="text-sm text-grayStrongText font-normal">Curabitur sit amet maximus ligula. Nam a nulla ante. Nam sodales</span>
                    </div>
                </div>
                <svg class="absolute top-[60px] left-[550px]" width="223" height="49" viewBox="0 0 223 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.4">
                        <path d="M0.999997 8.19175C0.999997 8.19175 43.9587 48 108.877 48C173.795 48 216.754 8.19174 216.754 8.19174" stroke="#0A65CC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="12 8"/>
                        <path d="M215.551 20.3903L217.502 7.40878L204.555 5.57281" stroke="#0A65CC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                </svg>
                <div class="flex flex-col items-center gap-6 py-6 px-6">
                    <div class="bg-white p-5 rounded-full">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1647_32011)">
                                <path opacity="0.2" d="M14.4994 24.9995C20.2984 24.9995 24.9994 20.2985 24.9994 14.4995C24.9994 8.70052 20.2984 3.99951 14.4994 3.99951C8.7004 3.99951 3.99939 8.70052 3.99939 14.4995C3.99939 20.2985 8.7004 24.9995 14.4994 24.9995Z" fill="#0A65CC"/>
                                <path d="M10.4994 14.5H18.4994" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M14.4994 10.5V18.5" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M14.4994 24.9995C20.2984 24.9995 24.9994 20.2985 24.9994 14.4995C24.9994 8.70052 20.2984 3.99951 14.4994 3.99951C8.7004 3.99951 3.99939 8.70052 3.99939 14.4995C3.99939 20.2985 8.7004 24.9995 14.4994 24.9995Z" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M21.9236 21.9246L27.9987 27.9996" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_1647_32011">
                                    <rect width="32" height="32" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="flex flex-col items-center gap-3 text-center">
                        <span class="text-dark font-medium text-lg">Znajdź odpowiednią pracę</span>
                        <span class="text-sm text-grayStrongText font-normal">Phasellus quis eleifend ex. Morbi nec fringilla nibh.</span>
                    </div>
                </div>
                <svg class="absolute top-0 right-[210px]" width="223" height="49" viewBox="0 0 223 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.4">
                        <path d="M0.999997 40.8082C0.999997 40.8082 43.9587 1.00001 108.877 1.00001C173.795 1.00001 216.754 40.8083 216.754 40.8083" stroke="#0A65CC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="12 8"/>
                        <path d="M215.551 28.6097L217.502 41.5912L204.555 43.4272" stroke="#0A65CC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                </svg>
                <div class="flex flex-col items-center gap-6 py-6 px-6">
                    <div class="bg-white p-5 rounded-full">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1647_32023)">
                                <path opacity="0.2" d="M6.80761 25.1924C5.65711 24.0419 6.42019 21.6265 5.8346 20.2111C5.22755 18.744 3 17.5631 3 16C3 14.4368 5.22756 13.256 5.8346 11.7888C6.4202 10.3735 5.65711 7.95811 6.80761 6.80761C7.95811 5.65711 10.3735 6.42019 11.7889 5.8346C13.256 5.22755 14.4369 3 16 3C17.5632 3 18.744 5.22756 20.2112 5.8346C21.6265 6.4202 24.0419 5.65711 25.1924 6.80761C26.3429 7.95811 25.5798 10.3735 26.1654 11.7889C26.7725 13.256 29 14.4369 29 16C29 17.5632 26.7724 18.744 26.1654 20.2112C25.5798 21.6265 26.3429 24.0419 25.1924 25.1924C24.0419 26.3429 21.6265 25.5798 20.2111 26.1654C18.744 26.7725 17.5631 29 16 29C14.4368 29 13.256 26.7724 11.7888 26.1654C10.3735 25.5798 7.95811 26.3429 6.80761 25.1924Z" fill="#0A65CC"/>
                                <path d="M6.80761 25.1924C5.65711 24.0419 6.42019 21.6265 5.8346 20.2111C5.22755 18.744 3 17.5631 3 16C3 14.4368 5.22756 13.256 5.8346 11.7888C6.4202 10.3735 5.65711 7.95811 6.80761 6.80761C7.95811 5.65711 10.3735 6.42019 11.7889 5.8346C13.256 5.22755 14.4369 3 16 3C17.5632 3 18.744 5.22756 20.2112 5.8346C21.6265 6.4202 24.0419 5.65711 25.1924 6.80761C26.3429 7.95811 25.5798 10.3735 26.1654 11.7889C26.7725 13.256 29 14.4369 29 16C29 17.5632 26.7724 18.744 26.1654 20.2112C25.5798 21.6265 26.3429 24.0419 25.1924 25.1924C24.0419 26.3429 21.6265 25.5798 20.2111 26.1654C18.744 26.7725 17.5631 29 16 29C14.4368 29 13.256 26.7724 11.7888 26.1654C10.3735 25.5798 7.95811 26.3429 6.80761 25.1924Z" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M21.5 13L14.1666 20L10.5 16.5" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_1647_32023">
                                    <rect width="32" height="32" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="flex flex-col items-center gap-3 text-center">
                        <span class="text-dark font-medium text-lg">Aplikuj o pracę</span>
                        <span class="text-sm text-grayStrongText font-normal">Curabitur sit amet maximus ligula. Nam a nulla ante, Nam sodales purus.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
