<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle}">Job Portal</title>
    <link href="/css/output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <header th:replace="fragments/header :: header"></header>

    <div class="bg-mainGray">
        <div class="max-w-1320 mx-auto py-24 flex items-center gap-x-36">
            <div class="flex flex-col gap-8">
                <div class="flex flex-col gap-6">
                    <h1 class="text-5xl font-medium text-dark">Znajdź pracę odpowiadającą Twoim zainteresowaniom i umiejętnościom.</h1>
                    <p class="text-grayMedium text-lg font-normal">Aliquam vitae turpis in diam convallis finibus in at risus. Nullam in scelerisque leo, eget sollicitudin velit bestibulum.</p>
                </div>
                <div class="flex flex-col gap-6">
                    <div class="flex bg-white border border-borderColor rounded-lg justify-between py-3 px-3">
                        <div class="flex w-9/12 items-center">
                            <div class="flex items-center pl-4 gap-3">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M21 21L16.65 16.65" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <input type="text" placeholder="Stanowisko, fraza..." class="bg-transparent pr-4 text-base font-normal text-grayText">
                            </div>
                            <div class="flex items-center pl-4 border-l border-borderColor gap-3">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 10C21 17 12 23 12 23C12 23 3 17 3 10C3 7.61305 3.94821 5.32387 5.63604 3.63604C7.32387 1.94821 9.61305 1 12 1C14.3869 1 16.6761 1.94821 18.364 3.63604C20.0518 5.32387 21 7.61305 21 10Z" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z" stroke="#0066FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <input type="text" placeholder="Lokalizacja" class="bg-transparent text-base font-normal text-grayText">
                            </div>
                        </div>
                        <button class="w-1/4 bg-mainBlue py-3 px-6 text-white text-base font-semibold rounded border-2 border-current">Oferty pracy</button>
                    </div>
                    <div>
                        <span class="text-grayText text-sm">Sugestia:</span>
                        <a href="#" class="text-sm text-lightBlack">Designer,</a>
                        <a href="#" class="text-sm text-lightBlack">Programowanie,</a>
                        <a href="#" class="text-sm text-mainBlue font-medium">Digital Marketing,</a>
                        <a href="#" class="text-sm text-lightBlack">Video,</a>
                        <a href="#" class="text-sm text-lightBlack">Animacje.</a>
                    </div>
                </div>
            </div>
            <img src="/images/hero-home.svg" alt="Working person">
        </div>
        <div class="max-w-1320 mx-auto flex items-center justify-center gap-6 pb-24">
            <div class="bg-white w-full py-5 px-5 rounded-lg drop-shadow-sm">
                <div class="flex items-center justify-start gap-5">
                    <div class="bg-grayBlue p-4 rounded">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_4112_12817)">
                                <path opacity="0.2" d="M20.0001 23.75C14.7341 23.7583 9.55961 22.3739 5.00128 19.7373V32.5C5.00128 32.6642 5.03361 32.8267 5.09643 32.9784C5.15925 33.1301 5.25132 33.2679 5.3674 33.3839C5.48347 33.5 5.62127 33.5921 5.77293 33.6549C5.92458 33.7177 6.08713 33.75 6.25128 33.75H33.7513C33.9154 33.75 34.078 33.7177 34.2296 33.6549C34.3813 33.5921 34.5191 33.5 34.6352 33.3839C34.7512 33.2679 34.8433 33.1301 34.9061 32.9784C34.969 32.8267 35.0013 32.6642 35.0013 32.5V19.7358C30.4424 22.3734 25.267 23.7583 20.0001 23.75Z" fill="#0A65CC"/>
                                <path d="M33.7513 11.25H6.25128C5.56093 11.25 5.00128 11.8096 5.00128 12.5V32.5C5.00128 33.1904 5.56093 33.75 6.25128 33.75H33.7513C34.4416 33.75 35.0013 33.1904 35.0013 32.5V12.5C35.0013 11.8096 34.4416 11.25 33.7513 11.25Z" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M26.25 11.25V8.75C26.25 8.08696 25.9866 7.45107 25.5178 6.98223C25.0489 6.51339 24.413 6.25 23.75 6.25H16.25C15.587 6.25 14.9511 6.51339 14.4822 6.98223C14.0134 7.45107 13.75 8.08696 13.75 8.75V11.25" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M35.0013 19.7358C30.4424 22.3734 25.2669 23.7583 20 23.75C14.734 23.7583 9.55941 22.3739 5.00104 19.7372" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M18.125 18.75H21.875" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_4112_12817">
                                    <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="flex flex-col gap-1.5">
                        <span class="text-dark text-2xl font-medium">1,75,324</span>
                        <span class="text-grayStrongText font-normal">Ofert pracy</span>
                    </div>
                </div>
            </div>
            <div class="bg-white w-full py-5 px-5 rounded-lg drop-shadow-sm">
                <div class="flex items-center justify-start gap-5">
                    <div class="bg-mainBlue p-4 rounded">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_4112_12829)">
                                <path opacity="0.2" d="M22.499 33.7473V6.24731C22.499 5.91579 22.3673 5.59785 22.1328 5.36343C21.8984 5.12901 21.5805 4.99731 21.249 4.99731H6.24896C5.91744 4.99731 5.5995 5.12901 5.36508 5.36343C5.13066 5.59785 4.99896 5.91579 4.99896 6.24731V33.7473" fill="white"/>
                                <path d="M2.5 33.7474H37.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M22.499 33.7473V6.24731C22.499 5.91579 22.3673 5.59785 22.1328 5.36343C21.8984 5.12901 21.5805 4.99731 21.249 4.99731H6.24896C5.91744 4.99731 5.5995 5.12901 5.36508 5.36343C5.13066 5.59785 4.99896 5.91579 4.99896 6.24731V33.7473" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M34.999 33.7473V16.2473C34.999 15.9158 34.8673 15.5979 34.6329 15.3634C34.3984 15.129 34.0805 14.9973 33.749 14.9973H22.499" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M9.99896 11.2473H14.999" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12.499 21.2474H17.499" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M9.99896 27.4974H14.999" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M27.499 27.4974H29.999" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M27.499 21.2474H29.999" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_4112_12829">
                                    <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="flex flex-col gap-1.5">
                        <span class="text-dark text-2xl font-medium">97,354</span>
                        <span class="text-grayStrongText font-normal">Firm</span>
                    </div>
                </div>
            </div>
            <div class="bg-white w-full py-5 px-5 rounded-lg drop-shadow-sm">
                <div class="flex items-center justify-start gap-5">
                    <div class="bg-grayBlue p-4 rounded">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_4112_12845)">
                                <path opacity="0.2" d="M13.7501 25C18.2374 25 21.8751 21.3623 21.8751 16.875C21.8751 12.3877 18.2374 8.75 13.7501 8.75C9.26281 8.75 5.62512 12.3877 5.62512 16.875C5.62512 21.3623 9.26281 25 13.7501 25Z" fill="#0A65CC"/>
                                <path d="M13.7501 25C18.2374 25 21.8751 21.3623 21.8751 16.875C21.8751 12.3877 18.2374 8.75 13.7501 8.75C9.26281 8.75 5.62512 12.3877 5.62512 16.875C5.62512 21.3623 9.26281 25 13.7501 25Z" stroke="#0A65CC" stroke-width="2" stroke-miterlimit="10"/>
                                <path d="M24.2833 9.05262C25.4009 8.73776 26.5729 8.66603 27.7205 8.84227C28.8681 9.01851 29.9646 9.43862 30.9361 10.0743C31.9077 10.71 32.7317 11.5465 33.3528 12.5275C33.9738 13.5085 34.3774 14.6112 34.5364 15.7613C34.6954 16.9114 34.6061 18.0822 34.2745 19.1949C33.9429 20.3075 33.3767 21.3362 32.614 22.2117C31.8514 23.0871 30.91 23.789 29.8533 24.2699C28.7965 24.7509 27.649 24.9998 26.488 25" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M2.49927 30.8432C3.76823 29.0382 5.45285 27.565 7.41091 26.548C9.36897 25.531 11.543 25.0001 13.7494 25C15.9558 24.9999 18.1299 25.5307 20.088 26.5476C22.0461 27.5644 23.7309 29.0375 25 30.8424" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M26.4879 25C28.6945 24.9984 30.8691 25.5285 32.8273 26.5455C34.7856 27.5625 36.4701 29.0364 37.738 30.8424" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_4112_12845">
                                    <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="flex flex-col gap-1.5">
                        <span class="text-dark text-2xl font-medium">38,47,154</span>
                        <span class="text-grayStrongText font-normal">Kandydatów</span>
                    </div>
                </div>
            </div>
            <div class="bg-white w-full py-5 px-5 rounded-lg drop-shadow-sm">
                <div class="flex items-center justify-start gap-5">
                    <div class="bg-grayBlue p-4 rounded">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_4112_12857)">
                                <path opacity="0.2" d="M20 23.75C14.7341 23.7583 9.55955 22.3739 5.00122 19.7373V32.5C5.00122 32.6642 5.03355 32.8267 5.09637 32.9784C5.15919 33.1301 5.25126 33.2679 5.36733 33.3839C5.48341 33.5 5.62121 33.5921 5.77286 33.6549C5.92452 33.7177 6.08707 33.75 6.25122 33.75H33.7512C33.9154 33.75 34.0779 33.7177 34.2296 33.6549C34.3812 33.5921 34.519 33.5 34.6351 33.3839C34.7512 33.2679 34.8433 33.1301 34.9061 32.9784C34.9689 32.8267 35.0012 32.6642 35.0012 32.5V19.7358C30.4423 22.3734 25.2669 23.7583 20 23.75Z" fill="#0A65CC"/>
                                <path d="M33.7512 11.25H6.25122C5.56086 11.25 5.00122 11.8096 5.00122 12.5V32.5C5.00122 33.1904 5.56086 33.75 6.25122 33.75H33.7512C34.4416 33.75 35.0012 33.1904 35.0012 32.5V12.5C35.0012 11.8096 34.4416 11.25 33.7512 11.25Z" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M26.25 11.25V8.75C26.25 8.08696 25.9866 7.45107 25.5178 6.98223C25.0489 6.51339 24.413 6.25 23.75 6.25H16.25C15.587 6.25 14.9511 6.51339 14.4822 6.98223C14.0134 7.45107 13.75 8.08696 13.75 8.75V11.25" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M35.0012 19.7358C30.4423 22.3734 25.2669 23.7583 20 23.75C14.7339 23.7583 9.55935 22.3739 5.00098 19.7372" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M18.125 18.75H21.875" stroke="#0A65CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_4112_12857">
                                    <rect width="40" height="40" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="flex flex-col gap-1.5">
                        <span class="text-dark text-2xl font-medium">7,532</span>
                        <span class="text-grayStrongText font-normal">Nowych ofert</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="max-w-1320 mx-auto flex flex-col py-24 gap-12">
        <h2 class="text-dark text-4xl font-medium">Najpopularniejsze oferty pracy</h2>
        <div class="grid grid-cols-4 gap-x-6 gap-y-8">
            <a href="#" class="flex flex-col gap-2">
                <span class="text-lg text-dark font-medium">Anestezjolodzy</span>
                <span class="text-sm text-grayStrongText font-normal">45 904 Dostępnych Stanowisk Pracy</span>
            </a>
            <a href="#" class="flex flex-col gap-2">
                <span class="text-lg text-dark font-medium">Chirurdzy</span>
                <span class="text-sm text-grayStrongText font-normal">50 364 Dostępnych Stanowisk Pracy</span>
            </a>
            <a href="#" class="flex flex-col gap-2">
                <span class="text-lg text-dark font-medium">Położnicy-ginekolodzy</span>
                <span class="text-sm text-grayStrongText font-normal">4 339 Dostępnych Stanowisk Pracy</span>
            </a>
            <a href="#" class="flex flex-col gap-2">
                <span class="text-lg text-dark font-medium">Ortodonci</span>
                <span class="text-sm text-grayStrongText font-normal">20 079 Dostępnych Stanowisk Pracy</span>
            </a>
            <a href="#" class="flex flex-col gap-2">
                <span class="text-lg text-dark font-medium">Chirurdzy szczękowo-twarzowi</span>
                <span class="text-sm text-grayStrongText font-normal">74 875 Dostępnych Stanowisk Pracy</span>
            </a>
            <a href="#" class="flex flex-col gap-2">
                <span class="text-lg text-dark font-medium">Programista oprogramowania</span>
                <span class="text-sm text-grayStrongText font-normal">43 359 Dostępnych Stanowisk Pracy</span>
            </a>
            <a href="#" class="flex flex-col gap-2">
                <span class="text-lg text-dark font-medium">Psychiatrzy</span>
                <span class="text-sm text-grayStrongText font-normal">18 599 Dostępnych Stanowisk Pracy</span>
            </a>
            <a href="#" class="flex flex-col gap-2">
                <span class="text-lg text-dark font-medium">Analityk danych</span>
                <span class="text-sm text-grayStrongText font-normal">28 200 Dostępnych Stanowisk Pracy</span>
            </a>
            <a href="#" class="flex flex-col gap-2">
                <span class="text-lg text-dark font-medium">Menedżer finansowy</span>
                <span class="text-sm text-grayStrongText font-normal">61 391 Dostępnych Stanowisk Pracy</span>
            </a>
            <a href="#" class="flex flex-col gap-2">
                <span class="text-lg text-dark font-medium">Analiza zarządzania</span>
                <span class="text-sm text-grayStrongText font-normal">93 046 Dostępnych Stanowisk Pracy</span>
            </a>
            <a href="#" class="flex flex-col gap-2">
                <span class="text-lg text-dark font-medium">Menedżer IT</span>
                <span class="text-sm text-grayStrongText font-normal">50 963 Dostępnych Stanowisk Pracy</span>
            </a>
            <a href="#" class="flex flex-col gap-2">
                <span class="text-lg text-dark font-medium">Analiza badań operacyjnych</span>
                <span class="text-sm text-grayStrongText font-normal">16,627 Dostępnych Stanowisk Pracy</span>
            </a>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
